/*

color: #00aa88;

*/


body {
	margin: 0px;
	padding: 0px;
}

body * {
	font-family: Arial;
	font-size: 60px;
   	text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;	
}

#app {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.material {
	box-shadow: 0px 12px 20px rgba(0,0,0,0.3);
}

.bold {
	font-weight: bold;
}

.content {
	position: absolute;
	width: 100%;
	bottom: 180px;
	overflow-y: scroll;
}

input, textarea {
	border: none;
	outline: none;
}