.content .ideas {
	position: relative;
	width: 100%;
	height: 100%;
	/*background: rgba(0,0,0,0.05);*/
	box-sizing: border-box;
}

.idea {
	padding: 50px 75px 50px 75px;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

.idea .title {
	font-size: 52px;
	color: #00aa88;
	padding-bottom: 10px;
}

.idea .text {
	font-size: 45px;
	color: rgba(0,0,0,0.8);
}

