.ideas.header .search.wrapper {
	padding-left: 30px;
	padding-right: 50px;
}

.ideas.header .date.wrapper {
	padding-right: 10px;
}

.ideas.header .pencil.wrapper {
	float: right;
	padding-right: 30px;
}

.ideas.header .trash.wrapper { 
	float: right;
	padding-right: 40px;
}